# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Virtual environments
venv/
env/
.env/
.venv/

# Azure Functions
Task-Manager-Func-App/local.settings.json
.azurefunctions/
.python_packages/
func_env/
bin/
obj/

# Flask/Django/other common files
instance/
*.sqlite3
*.db
*.log

# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
